name: Speller

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  speller:
    name: Spell Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6.0.1

      - name: Run
        uses: streetsidesoftware/cspell-action@v8.0.0
        with:
          incremental_files_only: false
          files: |
            **
            .*
            !**/translations/*.json
            **/translations/en.json
            !.devcontainer.json
            !.gitignore
            !.ruff.toml
            !LICENSE
            !pytest.ini
